// Hamburguesa
.cont-ham
    width: 40px
    height: 40px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    span
        width: 100%
        height: 5px
        background-color: black
        border-radius: 50%
        transition: 0.5s
    .line2
        margin-top: 8%
        margin-bottom: 8%
    &:hover .line1
        transform: translateY(-100%)
        transition: 0.5s
    &:hover .line3
        transform: translateY(100%)
        transition: 0.5s
// Oculta Check y permite la aparición del menú
#click-me
    display: none
    &:checked ~ .main-menu
        visibility: visible
