*
    margin: 0
    border: 0
    padding: 0
header
    height: 40px
    border-bottom: 0.5px grey solid
    display: flex
    align-items: center
    justify-content: space-between
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2)
    background: #F6F2E6
nav
    width: auto